:root {
  --main-color: #546E7B;
  --sec-color: #FFC30D;
}

.md-typeset h1 {
  color: var(--main-color)
}

.md-typeset h2 {
  color: var(--sec-color)
}

.md-header-nav__title{
  color: var(--sec-color)
}

div {
  text-align: justify;
  text-justify: inter-word;
}

.highlight {
  font-weight: bold;
  color: var(--sec-color)
}
